.leaderboard {
  margin: 0;
  align-self: stretch;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.leaderboard,
.secondleaderfees {
  position: relative;
}
.secondleaderpicIcon {
  height: 80px;
  width: 80px;
  position: absolute;
  margin: 0 !important;
  top: -54px;
  left: calc(50% - 40px);
  border-radius: var(--br-81xl);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.leaderStats {
  height: 120px;
  flex: 1;
  background: linear-gradient(180deg, #d96eff, #090524);
  padding: var(--padding-5xl) var(--padding-xl) var(--padding-5xl)
    var(--padding-lg);
  box-sizing: border-box;
}
.leaderStats,
.leaderStats1,
.leaderStats2 {
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  gap: var(--gap-3xs);
}
.leaderStats1 {
  align-self: stretch;
  flex: 1;
  background: linear-gradient(180deg, #6a67ea, #090524);
  padding: var(--padding-5xl) var(--padding-xl) var(--padding-5xl)
    var(--padding-lg);
}
.leaderStats2 {
  background: linear-gradient(180deg, #ff722b, #090524);
  padding: var(--padding-5xl) var(--padding-xl) var(--padding-xl)
    var(--padding-lg);
}
.leaderboardParent,
.leaders {
  align-self: stretch;
  display: flex;
}
.leaders {
  height: 160px;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--font-size-5xl);
}
.leaderboardParent {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-61xl);
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--white);
  font-family: var(--font-poppins);
}
